<% include partials/header %>

<div>
  <p>Te dhenat jane ketu</p>
  <ul>
    <li><%= data.id %></li>
    <li><%= data.project %></li>
      
  </ul>
</div>


<% for(var i=0; i<projects.length; i++){ %>
  <li><%=  projects[i].id %></li>
  <li><%= projects[i].name %></li>
  <% }
  %>




 </form>

<% include partials/footer %>
